In [42]:
%matplotlib inline 
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re
pd.set_option('display.max_rows', None)

In [2]:
def read_data(file_name,header_row):
    df = pd.read_csv(file_name, header=header_row, index_col=0)
    return df

In [51]:
file_path = '/Users/old/Documents/CCL/Opioid/opioid_model/regional_input_files/Pinellas-County-FL/'
file = 'pinellas-demographics-by-census-tract.csv'
header_row = 0
data = read_data(file_path+file,header_row)

In [52]:
data

,Florida!!Count,Florida!!Percent,Census Tract 201.05; Pinellas County; Florida!!Count,Census Tract 201.05; Pinellas County; Florida!!Percent,Census Tract 201.06; Pinellas County; Florida!!Count,Census Tract 201.06; Pinellas County; Florida!!Percent,Census Tract 201.07; Pinellas County; Florida!!Count,Census Tract 201.07; Pinellas County; Florida!!Percent,Census Tract 201.08; Pinellas County; Florida!!Count,Census Tract 201.08; Pinellas County; Florida!!Percent,...,Census Tract 286.01; Pinellas County; Florida!!Count,Census Tract 286.01; Pinellas County; Florida!!Percent,Census Tract 286.02; Pinellas County; Florida!!Count,Census Tract 286.02; Pinellas County; Florida!!Percent,Census Tract 287; Pinellas County; Florida!!Count,Census Tract 287; Pinellas County; Florida!!Percent,Census Tract 9900; Pinellas County; Florida!!Count,Census Tract 9900; Pinellas County; Florida!!Percent,Census Tract 9901; Pinellas County; Florida!!Count,Census Tract 9901; Pinellas County; Florida!!Percent
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
SEX AND AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total population,"21,538,187",100.0%,"5,432",100.0%,"3,839",100.0%,"1,725",100.0%,"2,312",100.0%,...,"3,807",100.0%,"2,725",100.0%,"3,124",100.0%,0,-,0,-
Under 5 years,"1,030,284",4.8%,92,1.7%,93,2.4%,12,0.7%,13,0.6%,...,64,1.7%,29,1.1%,278,8.9%,0,-,0,-
5 to 9 years,"1,151,858",5.3%,93,1.7%,71,1.8%,12,0.7%,7,0.3%,...,38,1.0%,21,0.8%,310,9.9%,0,-,0,-
10 to 14 years,"1,262,516",5.9%,74,1.4%,93,2.4%,22,1.3%,5,0.2%,...,46,1.2%,27,1.0%,310,9.9%,0,-,0,-
15 to 19 years,"1,289,224",6.0%,"1,152",21.2%,109,2.8%,24,1.4%,10,0.4%,...,53,1.4%,289,10.6%,221,7.1%,0,-,0,-
20 to 24 years,"1,285,788",6.0%,719,13.2%,113,2.9%,29,1.7%,42,1.8%,...,291,7.6%,359,13.2%,187,6.0%,0,-,0,-
25 to 29 years,"1,291,440",6.0%,86,1.6%,89,2.3%,25,1.4%,48,2.1%,...,570,15.0%,207,7.6%,229,7.3%,0,-,0,-
30 to 34 years,"1,348,166",6.3%,104,1.9%,69,1.8%,18,1.0%,34,1.5%,...,473,12.4%,193,7.1%,202,6.5%,0,-,0,-
35 to 39 years,"1,326,070",6.2%,111,2.0%,124,3.2%,27,1.6%,41,1.8%,...,318,8.4%,161,5.9%,188,6.0%,0,-,0,-
40 to 44 years,"1,263,395",5.9%,125,2.3%,120,3.1%,21,1.2%,38,1.6%,...,170,4.5%,137,5.0%,147,4.7%,0,-,0,-
45 to 49 years,"1,316,747",6.1%,192,3.5%,151,3.9%,37,2.1%,53,2.3%,...,208,5.5%,136,5.0%,173,5.5%,0,-,0,-
50 to 54 years,"1,386,691",6.4%,262,4.8%,352,9.2%,76,4.4%,103,4.5%,...,230,6.0%,183,6.7%,186,6.0%,0,-,0,-
55 to 59 years,"1,534,670",7.1%,359,6.6%,475,12.4%,127,7.4%,217,9.4%,...,232,6.1%,227,8.3%,215,6.9%,0,-,0,-
60 to 64 years,"1,483,312",6.9%,387,7.1%,540,14.1%,204,11.8%,257,11.1%,...,282,7.4%,239,8.8%,163,5.2%,0,-,0,-
65 to 69 years,"1,361,943",6.3%,379,7.0%,463,12.1%,247,14.3%,302,13.1%,...,321,8.4%,172,6.3%,125,4.0%,0,-,0,-
70 to 74 years,"1,226,063",5.7%,423,7.8%,473,12.3%,296,17.2%,404,17.5%,...,240,6.3%,181,6.6%,74,2.4%,0,-,0,-
75 to 79 years,"879,394",4.1%,337,6.2%,264,6.9%,249,14.4%,342,14.8%,...,140,3.7%,91,3.3%,47,1.5%,0,-,0,-
80 to 84 years,"564,438",2.6%,237,4.4%,143,3.7%,161,9.3%,220,9.5%,...,68,1.8%,44,1.6%,39,1.2%,0,-,0,-
85 years and over,"536,188",2.5%,300,5.5%,97,2.5%,138,8.0%,176,7.6%,...,63,1.7%,29,1.1%,30,1.0%,0,-,0,-
Selected Age Categories,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16 years and over,"17,840,297",82.8%,"5,145",94.7%,"3,562",92.8%,"1,676",97.2%,"2,286",98.9%,...,"3,650",95.9%,"2,640",96.9%,"2,176",69.7%,0,-,0,-
18 years and over,"17,339,232",80.5%,"4,871",89.7%,"3,506",91.3%,"1,663",96.4%,"2,283",98.7%,...,"3,637",95.5%,"2,617",96.0%,"2,099",67.2%,0,-,0,-
21 years and over,"16,531,829",76.8%,"3,652",67.2%,"3,449",89.8%,"1,644",95.3%,"2,264",97.9%,...,"3,565",93.6%,"2,194",80.5%,"1,975",63.2%,0,-,0,-
62 years and over,"5,442,463",25.3%,"1,911",35.2%,"1,763",45.9%,"1,216",70.5%,"1,602",69.3%,...,"1,022",26.8%,653,24.0%,408,13.1%,0,-,0,-
65 years and over,"4,568,026",21.2%,"1,676",30.9%,"1,440",37.5%,"1,091",63.2%,"1,444",62.5%,...,832,21.9%,517,19.0%,315,10.1%,0,-,0,-
Male population,"10,464,234",100.0%,"2,294",100.0%,"1,924",100.0%,776,100.0%,"1,082",100.0%,...,"1,943",100.0%,"1,332",100.0%,"1,400",100.0%,0,-,0,-
Under 5 years,"525,258",5.0%,51,2.2%,52,2.7%,4,0.5%,6,0.6%,...,34,1.7%,14,1.1%,132,9.4%,0,-,0,-
5 to 9 years,"588,724",5.6%,45,2.0%,32,1.7%,7,0.9%,5,0.5%,...,17,0.9%,9,0.7%,142,10.1%,0,-,0,-
10 to 14 years,"645,046",6.2%,39,1.7%,50,2.6%,10,1.3%,2,0.2%,...,23,1.2%,7,0.5%,169,12.1%,0,-,0,-
15 to 19 years,"654,581",6.3%,354,15.4%,53,2.8%,10,1.3%,4,0.4%,...,23,1.2%,98,7.4%,107,7.6%,0,-,0,-
20 to 24 years,"651,206",6.2%,276,12.0%,56,2.9%,18,2.3%,19,1.8%,...,109,5.6%,162,12.2%,88,6.3%,0,-,0,-
25 to 29 years,"648,960",6.2%,48,2.1%,46,2.4%,14,1.8%,23,2.1%,...,279,14.4%,102,7.7%,78,5.6%,0,-,0,-
30 to 34 years,"667,359",6.4%,55,2.4%,27,1.4%,9,1.2%,13,1.2%,...,241,12.4%,95,7.1%,78,5.6%,0,-,0,-
35 to 39 years,"650,336",6.2%,55,2.4%,58,3.0%,11,1.4%,24,2.2%,...,186,9.6%,91,6.8%,80,5.7%,0,-,0,-
40 to 44 years,"615,795",5.9%,61,2.7%,67,3.5%,12,1.5%,20,1.8%,...,109,5.6%,80,6.0%,60,4.3%,0,-,0,-
45 to 49 years,"642,629",6.1%,86,3.7%,61,3.2%,15,1.9%,20,1.8%,...,107,5.5%,83,6.2%,78,5.6%,0,-,0,-
50 to 54 years,"674,608",6.4%,120,5.2%,173,9.0%,36,4.6%,52,4.8%,...,125,6.4%,85,6.4%,70,5.0%,0,-,0,-
55 to 59 years,"736,911",7.0%,173,7.5%,224,11.6%,43,5.5%,88,8.1%,...,133,6.8%,117,8.8%,114,8.1%,0,-,0,-
60 to 64 years,"698,184",6.7%,179,7.8%,269,14.0%,94,12.1%,122,11.3%,...,152,7.8%,124,9.3%,74,5.3%,0,-,0,-
65 to 69 years,"630,317",6.0%,177,7.7%,220,11.4%,113,14.6%,127,11.7%,...,165,8.5%,88,6.6%,60,4.3%,0,-,0,-
70 to 74 years,"570,437",5.5%,193,8.4%,262,13.6%,131,16.9%,198,18.3%,...,104,5.4%,98,7.4%,38,2.7%,0,-,0,-
75 to 79 years,"404,094",3.9%,169,7.4%,143,7.4%,118,15.2%,172,15.9%,...,65,3.3%,46,3.5%,16,1.1%,0,-,0,-
80 to 84 years,"251,412",2.4%,109,4.8%,79,4.1%,67,8.6%,107,9.9%,...,35,1.8%,21,1.6%,9,0.6%,0,-,0,-
85 years and over,"208,377",2.0%,104,4.5%,52,2.7%,64,8.2%,80,7.4%,...,36,1.9%,12,0.9%,7,0.5%,0,-,0,-
Selected Age Categories,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16 years and over,"8,575,269",81.9%,"2,148",93.6%,"1,782",92.6%,755,97.3%,"1,069",98.8%,...,"1,866",96.0%,"1,300",97.6%,938,67.0%,0,-,0,-
18 years and over,"8,318,714",79.5%,"2,045",89.1%,"1,748",90.9%,747,96.3%,"1,069",98.8%,...,"1,857",95.6%,"1,290",96.8%,897,64.1%,0,-,0,-
21 years and over,"7,913,477",75.6%,"1,677",73.1%,"1,727",89.8%,739,95.2%,"1,062",98.2%,...,"1,831",94.2%,"1,147",86.1%,835,59.6%,0,-,0,-
62 years and over,"2,474,035",23.6%,866,37.8%,910,47.3%,551,71.0%,762,70.4%,...,503,25.9%,336,25.2%,175,12.5%,0,-,0,-
65 years and over,"2,064,637",19.7%,752,32.8%,756,39.3%,493,63.5%,684,63.2%,...,405,20.8%,265,19.9%,130,9.3%,0,-,0,-
Female population,"11,073,953",100.0%,"3,138",100.0%,"1,915",100.0%,949,100.0%,"1,230",100.0%,...,"1,864",100.0%,"1,393",100.0%,"1,724",100.0%,0,-,0,-
Under 5 years,"505,026",4.6%,41,1.3%,41,2.1%,8,0.8%,7,0.6%,...,30,1.6%,15,1.1%,146,8.5%,0,-,0,-
5 to 9 years,"563,134",5.1%,48,1.5%,39,2.0%,5,0.5%,2,0.2%,...,21,1.1%,12,0.9%,168,9.7%,0,-,0,-
10 to 14 years,"617,470",5.6%,35,1.1%,43,2.2%,12,1.3%,3,0.2%,...,23,1.2%,20,1.4%,141,8.2%,0,-,0,-
15 to 19 years,"634,643",5.7%,798,25.4%,56,2.9%,14,1.5%,6,0.5%,...,30,1.6%,191,13.7%,114,6.6%,0,-,0,-
20 to 24 years,"634,582",5.7%,443,14.1%,57,3.0%,11,1.2%,23,1.9%,...,182,9.8%,197,14.1%,99,5.7%,0,-,0,-
25 to 29 years,"642,480",5.8%,38,1.2%,43,2.2%,11,1.2%,25,2.0%,...,291,15.6%,105,7.5%,151,8.8%,0,-,0,-
30 to 34 years,"680,807",6.1%,49,1.6%,42,2.2%,9,0.9%,21,1.7%,...,232,12.4%,98,7.0%,124,7.2%,0,-,0,-
35 to 39 years,"675,734",6.1%,56,1.8%,66,3.4%,16,1.7%,17,1.4%,...,132,7.1%,70,5.0%,108,6.3%,0,-,0,-
40 to 44 years,"647,600",5.8%,64,2.0%,53,2.8%,9,0.9%,18,1.5%,...,61,3.3%,57,4.1%,87,5.0%,0,-,0,-
45 to 49 years,"674,118",6.1%,106,3.4%,90,4.7%,22,2.3%,33,2.7%,...,101,5.4%,53,3.8%,95,5.5%,0,-,0,-
50 to 54 years,"712,083",6.4%,142,4.5%,179,9.3%,40,4.2%,51,4.1%,...,105,5.6%,98,7.0%,116,6.7%,0,-,0,-
55 to 59 years,"797,759",7.2%,186,5.9%,251,13.1%,84,8.9%,129,10.5%,...,99,5.3%,110,7.9%,101,5.9%,0,-,0,-
60 to 64 years,"785,128",7.1%,208,6.6%,271,14.2%,110,11.6%,135,11.0%,...,130,7.0%,115,8.3%,89,5.2%,0,-,0,-
65 to 69 years,"731,626",6.6%,202,6.4%,243,12.7%,134,14.1%,175,14.2%,...,156,8.4%,84,6.0%,65,3.8%,0,-,0,-
70 to 74 years,"655,626",5.9%,230,7.3%,211,11.0%,165,17.4%,206,16.7%,...,136,7.3%,83,6.0%,36,2.1%,0,-,0,-
75 to 79 years,"475,300",4.3%,168,5.4%,121,6.3%,131,13.8%,170,13.8%,...,75,4.0%,45,3.2%,31,1.8%,0,-,0,-
80 to 84 years,"313,026",2.8%,128,4.1%,64,3.3%,94,9.9%,113,9.2%,...,33,1.8%,23,1.7%,30,1.7%,0,-,0,-
85 years and over,"327,811",3.0%,196,6.2%,45,2.3%,74,7.8%,96,7.8%,...,27,1.4%,17,1.2%,23,1.3%,0,-,0,-
Selected Age Categories,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16 years and over,"9,265,028",83.7%,"2,997",95.5%,"1,780",93.0%,921,97.0%,"1,217",98.9%,...,"1,784",95.7%,"1,340",96.2%,"1,238",71.8%,0,-,0,-
18 years and over,"9,020,518",81.5%,"2,826",90.1%,"1,758",91.8%,916,96.5%,"1,214",98.7%,...,"1,780",95.5%,"1,327",95.3%,"1,202",69.7%,0,-,0,-
21 years and over,"8,618,352",77.8%,"1,975",62.9%,"1,722",89.9%,905,95.4%,"1,202",97.7%,...,"1,734",93.0%,"1,047",75.2%,"1,140",66.1%,0,-,0,-
62 years and over,"2,968,428",26.8%,"1,045",33.3%,853,44.5%,665,70.1%,840,68.3%,...,519,27.8%,317,22.8%,233,13.5%,0,-,0,-
65 years and over,"2,503,389",22.6%,924,29.4%,684,35.7%,598,63.0%,760,61.8%,...,427,22.9%,252,18.1%,185,10.7%,0,-,0,-
MEDIAN AGE BY SEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Both sexes,43.0,(X),49.0,(X),60.6,(X),69.7,(X),69.8,(X),...,41.3,(X),43.1,(X),30.4,(X),-,(X),-,(X)
Male,41.5,(X),54.1,(X),61.0,(X),69.6,(X),70.3,(X),...,42.9,(X),45.3,(X),28.4,(X),-,(X),-,(X)
Female,44.5,(X),44.7,(X),60.0,(X),69.7,(X),69.1,(X),...,39.6,(X),39.5,(X),31.3,(X),-,(X),-,(X)
RACE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total population,"21,538,187",100.0%,"5,432",100.0%,"3,839",100.0%,"1,725",100.0%,"2,312",100.0%,...,"3,807",100.0%,"2,725",100.0%,"3,124",100.0%,0,-,0,-
One Race,"17,986,115",83.5%,"5,150",94.8%,"3,596",93.7%,"1,660",96.2%,"2,208",95.5%,...,"3,440",90.4%,"2,565",94.1%,"3,030",97.0%,0,-,0,-
White,"12,422,961",57.7%,"4,474",82.4%,"3,455",90.0%,"1,562",90.6%,"2,141",92.6%,...,"2,788",73.2%,"2,103",77.2%,262,8.4%,0,-,0,-
Black or African American,"3,246,381",15.1%,440,8.1%,49,1.3%,17,1.0%,18,0.8%,...,452,11.9%,217,8.0%,"2,699",86.4%,0,-,0,-
American Indian and Alaska Native,"94,795",0.4%,9,0.2%,6,0.2%,9,0.5%,3,0.1%,...,7,0.2%,7,0.3%,11,0.4%,0,-,0,-
Asian,"643,682",3.0%,120,2.2%,58,1.5%,53,3.1%,28,1.2%,...,109,2.9%,87,3.2%,10,0.3%,0,-,0,-
Native Hawaiian and Other Pacific Islander,"14,014",0.1%,6,0.1%,1,0.0%,0,0.0%,0,0.0%,...,2,0.1%,0,0.0%,2,0.1%,0,-,0,-
Some Other Race,"1,564,282",7.3%,101,1.9%,27,0.7%,19,1.1%,18,0.8%,...,82,2.2%,151,5.5%,46,1.5%,0,-,0,-
Two or More Races,"3,552,072",16.5%,282,5.2%,243,6.3%,65,3.8%,104,4.5%,...,367,9.6%,160,5.9%,94,3.0%,0,-,0,-
TOTAL RACES TALLIED [1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total races tallied,"25,233,388",117.2%,"5,726",105.4%,"4,095",106.7%,"1,794",104.0%,"2,421",104.7%,...,"4,192",110.1%,"2,889",106.0%,"3,238",103.6%,0,-,0,-
White alone or in combination with one or more other races,"15,758,296",73.2%,"4,740",87.3%,"3,692",96.2%,"1,624",94.1%,"2,241",96.9%,...,"3,128",82.2%,"2,252",82.6%,312,10.0%,0,-,0,-
Black or African American alone or in combination with one or more other races,"3,703,952",17.2%,480,8.8%,62,1.6%,30,1.7%,27,1.2%,...,513,13.5%,230,8.4%,"2,776",88.9%,0,-,0,-
American Indian and Alaska Native alone or in combination with one or more other races,"384,485",1.8%,68,1.3%,55,1.4%,22,1.3%,18,0.8%,...,52,1.4%,26,1.0%,43,1.4%,0,-,0,-
Asian alone or in combination with one or more other races,"843,005",3.9%,188,3.5%,103,2.7%,61,3.5%,36,1.6%,...,151,4.0%,108,4.0%,29,0.9%,0,-,0,-
Native Hawaiian and Other Pacific Islander alone or in combination with one or more other races,"44,454",0.2%,12,0.2%,1,0.0%,2,0.1%,2,0.1%,...,6,0.2%,5,0.2%,10,0.3%,0,-,0,-
Some Other Race alone or in combination with one or more other races,"4,499,196",20.9%,238,4.4%,182,4.7%,55,3.2%,97,4.2%,...,342,9.0%,268,9.8%,68,2.2%,0,-,0,-
HISPANIC OR LATINO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total population,"21,538,187",100.0%,"5,432",100.0%,"3,839",100.0%,"1,725",100.0%,"2,312",100.0%,...,"3,807",100.0%,"2,725",100.0%,"3,124",100.0%,0,-,0,-
Hispanic or Latino (of any race),"5,697,240",26.5%,347,6.4%,178,4.6%,60,3.5%,108,4.7%,...,399,10.5%,290,10.6%,113,3.6%,0,-,0,-
Not Hispanic or Latino,"15,840,947",73.5%,"5,085",93.6%,"3,661",95.4%,"1,665",96.5%,"2,204",95.3%,...,"3,408",89.5%,"2,435",89.4%,"3,011",96.4%,0,-,0,-
HISPANIC OR LATINO BY RACE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total population,"21,538,187",100.0%,"5,432",100.0%,"3,839",100.0%,"1,725",100.0%,"2,312",100.0%,...,"3,807",100.0%,"2,725",100.0%,"3,124",100.0%,0,-,0,-
Hispanic or Latino,"5,697,240",26.5%,347,6.4%,178,4.6%,60,3.5%,108,4.7%,...,399,10.5%,290,10.6%,113,3.6%,0,-,0,-
White alone,"1,322,458",6.1%,132,2.4%,46,1.2%,16,0.9%,17,0.7%,...,103,2.7%,58,2.1%,16,0.5%,0,-,0,-
Black or African American alone,"119,329",0.6%,17,0.3%,5,0.1%,0,0.0%,0,0.0%,...,21,0.6%,4,0.1%,43,1.4%,0,-,0,-
American Indian and Alaska Native alone,"52,626",0.2%,3,0.1%,0,0.0%,1,0.1%,0,0.0%,...,2,0.1%,0,0.0%,1,0.0%,0,-,0,-
Asian alone,"14,056",0.1%,1,0.0%,0,0.0%,0,0.0%,0,0.0%,...,4,0.1%,0,0.0%,0,0.0%,0,-,0,-
Native Hawaiian and Other Pacific Islander alone,"2,493",0.0%,0,0.0%,0,0.0%,0,0.0%,0,0.0%,...,0,0.0%,0,0.0%,0,0.0%,0,-,0,-
Some Other Race alone,"1,426,349",6.6%,72,1.3%,16,0.4%,10,0.6%,16,0.7%,...,63,1.7%,135,5.0%,30,1.0%,0,-,0,-
Two or More Races,"2,759,929",12.8%,122,2.2%,111,2.9%,33,1.9%,75,3.2%,...,206,5.4%,93,3.4%,23,0.7%,0,-,0,-
Not Hispanic or Latino,"15,840,947",73.5%,"5,085",93.6%,"3,661",95.4%,"1,665",96.5%,"2,204",95.3%,...,"3,408",89.5%,"2,435",89.4%,"3,011",96.4%,0,-,0,-
White alone,"11,100,503",51.5%,"4,342",79.9%,"3,409",88.8%,"1,546",89.6%,"2,124",91.9%,...,"2,685",70.5%,"2,045",75.0%,246,7.9%,0,-,0,-
Black or African American alone,"3,127,052",14.5%,423,7.8%,44,1.1%,17,1.0%,18,0.8%,...,431,11.3%,213,7.8%,"2,656",85.0%,0,-,0,-
American Indian and Alaska Native alone,"42,169",0.2%,6,0.1%,6,0.2%,8,0.5%,3,0.1%,...,5,0.1%,7,0.3%,10,0.3%,0,-,0,-
Asian alone,"629,626",2.9%,119,2.2%,58,1.5%,53,3.1%,28,1.2%,...,105,2.8%,87,3.2%,10,0.3%,0,-,0,-
Native Hawaiian and Other Pacific Islander alone,"11,521",0.1%,6,0.1%,1,0.0%,0,0.0%,0,0.0%,...,2,0.1%,0,0.0%,2,0.1%,0,-,0,-
Some Other Race alone,"137,933",0.6%,29,0.5%,11,0.3%,9,0.5%,2,0.1%,...,19,0.5%,16,0.6%,16,0.5%,0,-,0,-
Two or More Races,"792,143",3.7%,160,2.9%,132,3.4%,32,1.9%,29,1.3%,...,161,4.2%,67,2.5%,71,2.3%,0,-,0,-
RELATIONSHIP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total population,"21,538,187",100.0%,"5,432",100.0%,"3,839",100.0%,"1,725",100.0%,"2,312",100.0%,...,"3,807",100.0%,"2,725",100.0%,"3,124",100.0%,0,-,0,-
In households,"21,073,604",97.8%,"3,579",65.9%,"3,839",100.0%,"1,725",100.0%,"2,312",100.0%,...,"3,766",98.9%,"2,064",75.7%,"3,012",96.4%,0,-,0,-
Householder,"8,529,096",39.6%,"1,846",34.0%,"1,864",48.6%,980,56.8%,"1,435",62.1%,...,"2,667",70.1%,"1,357",49.8%,"1,092",35.0%,0,-,0,-
Opposite-sex spouse,"3,831,010",17.8%,899,16.6%,"1,152",30.0%,516,29.9%,653,28.2%,...,388,10.2%,326,12.0%,168,5.4%,0,-,0,-
Same-sex spouse,"56,304",0.3%,38,0.7%,14,0.4%,14,0.8%,14,0.6%,...,30,0.8%,27,1.0%,9,0.3%,0,-,0,-
Opposite-sex unmarried partner,"589,045",2.7%,93,1.7%,102,2.7%,35,2.0%,48,2.1%,...,192,5.0%,98,3.6%,70,2.2%,0,-,0,-
Same-sex unmarried partner,"40,363",0.2%,31,0.6%,12,0.3%,5,0.3%,4,0.2%,...,28,0.7%,12,0.4%,7,0.2%,0,-,0,-
Child [2],"5,560,088",25.8%,496,9.1%,534,13.9%,128,7.4%,91,3.9%,...,228,6.0%,138,5.1%,"1,160",37.1%,0,-,0,-
Under 18 years,"3,587,959",16.7%,303,5.6%,295,7.7%,50,2.9%,24,1.0%,...,137,3.6%,72,2.6%,849,27.2%,0,-,0,-
Grandchild,"521,978",2.4%,37,0.7%,36,0.9%,6,0.3%,8,0.3%,...,20,0.5%,8,0.3%,152,4.9%,0,-,0,-
Under 18 years,"393,393",1.8%,23,0.4%,29,0.8%,6,0.3%,3,0.1%,...,15,0.4%,7,0.3%,107,3.4%,0,-,0,-
Other relatives,"1,178,438",5.5%,83,1.5%,77,2.0%,21,1.2%,32,1.4%,...,63,1.7%,23,0.8%,225,7.2%,0,-,0,-
Nonrelatives,"767,282",3.6%,56,1.0%,48,1.3%,20,1.2%,27,1.2%,...,150,3.9%,75,2.8%,129,4.1%,0,-,0,-
In group quarters,"464,583",2.2%,"1,853",34.1%,0,0.0%,0,0.0%,0,0.0%,...,41,1.1%,661,24.3%,112,3.6%,0,-,0,-
Institutionalized population:,"269,206",1.2%,205,3.8%,0,0.0%,0,0.0%,0,0.0%,...,13,0.3%,0,0.0%,23,0.7%,0,-,0,-
Male,"182,098",0.8%,65,1.2%,0,0.0%,0,0.0%,0,0.0%,...,4,0.1%,0,0.0%,9,0.3%,0,-,0,-
Female,"87,108",0.4%,140,2.6%,0,0.0%,0,0.0%,0,0.0%,...,9,0.2%,0,0.0%,14,0.4%,0,-,0,-
Noninstitutionalized population:,"195,377",0.9%,"1,648",30.3%,0,0.0%,0,0.0%,0,0.0%,...,28,0.7%,661,24.3%,89,2.8%,0,-,0,-
Male,"98,751",0.5%,531,9.8%,0,0.0%,0,0.0%,0,0.0%,...,23,0.6%,305,11.2%,57,1.8%,0,-,0,-
Female,"96,626",0.4%,"1,117",20.6%,0,0.0%,0,0.0%,0,0.0%,...,5,0.1%,356,13.1%,32,1.0%,0,-,0,-
HOUSEHOLDS BY TYPE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total households,"8,529,067",100.0%,"1,835",100.0%,"1,866",100.0%,981,100.0%,"1,437",100.0%,...,"2,656",100.0%,"1,356",100.0%,"1,091",100.0%,0,-,0,-
Married couple household,"3,887,288",45.6%,931,50.7%,"1,172",62.8%,532,54.2%,665,46.3%,...,419,15.8%,357,26.3%,173,15.9%,0,-,0,-
With own children under 18 [3],"1,251,401",14.7%,127,6.9%,142,7.6%,36,3.7%,13,0.9%,...,48,1.8%,21,1.5%,56,5.1%,0,-,0,-
Cohabiting couple household,"629,394",7.4%,122,6.6%,109,5.8%,37,3.8%,58,4.0%,...,222,8.4%,110,8.1%,76,7.0%,0,-,0,-
With own children under 18 [3],"195,726",2.3%,3,0.2%,10,0.5%,5,0.5%,4,0.3%,...,3,0.1%,6,0.4%,30,2.7%,0,-,0,-
"Male householder, no spouse or partner present:","1,560,830",18.3%,287,15.6%,286,15.3%,118,12.0%,273,19.0%,...,"1,019",38.4%,430,31.7%,222,20.3%,0,-,0,-
Living alone,"1,028,387",12.1%,245,13.4%,236,12.6%,105,10.7%,246,17.1%,...,908,34.2%,373,27.5%,134,12.3%,0,-,0,-
65 years and over,"370,068",4.3%,135,7.4%,104,5.6%,71,7.2%,145,10.1%,...,237,8.9%,91,6.7%,35,3.2%,0,-,0,-
With own children under 18 [3],"128,829",1.5%,10,0.5%,11,0.6%,1,0.1%,6,0.4%,...,16,0.6%,5,0.4%,33,3.0%,0,-,0,-
"Female householder, no spouse or partner present:","2,451,555",28.7%,495,27.0%,299,16.0%,294,30.0%,441,30.7%,...,996,37.5%,459,33.8%,620,56.8%,0,-,0,-
Living alone,"1,297,408",15.2%,393,21.4%,225,12.1%,259,26.4%,387,26.9%,...,858,32.3%,387,28.5%,164,15.0%,0,-,0,-
65 years and over,"700,291",8.2%,285,15.5%,142,7.6%,207,21.1%,262,18.2%,...,293,11.0%,134,9.9%,51,4.7%,0,-,0,-
With own children under 18 [3],"431,863",5.1%,21,1.1%,11,0.6%,4,0.4%,5,0.3%,...,28,1.1%,26,1.9%,267,24.5%,0,-,0,-
Households with individuals under 18 years,"2,324,987",27.3%,193,10.5%,199,10.7%,50,5.1%,38,2.6%,...,107,4.0%,68,5.0%,467,42.8%,0,-,0,-
Households with individuals 65 years and over,"3,201,746",37.5%,"1,013",55.2%,911,48.8%,697,71.0%,961,66.9%,...,735,27.7%,417,30.8%,251,23.0%,0,-,0,-
HOUSING OCCUPANCY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total housing units,"9,865,350",100.0%,"2,174",100.0%,"2,361",100.0%,"1,403",100.0%,"2,992",100.0%,...,"3,075",100.0%,"1,555",100.0%,"1,204",100.0%,0,-,0,-
Occupied housing units,"8,529,067",86.5%,"1,835",84.4%,"1,866",79.0%,981,69.9%,"1,437",48.0%,...,"2,656",86.4%,"1,356",87.2%,"1,091",90.6%,0,-,0,-
Vacant housing units,"1,336,283",13.5%,339,15.6%,495,21.0%,422,30.1%,"1,555",52.0%,...,419,13.6%,199,12.8%,113,9.4%,0,-,0,-
For rent,"301,255",3.1%,31,1.4%,39,1.7%,6,0.4%,98,3.3%,...,325,10.6%,63,4.1%,33,2.7%,0,-,0,-
"Rented, not occupied","32,162",0.3%,0,0.0%,3,0.1%,1,0.1%,31,1.0%,...,9,0.3%,5,0.3%,10,0.8%,0,-,0,-
For sale only,"116,289",1.2%,35,1.6%,33,1.4%,14,1.0%,32,1.1%,...,4,0.1%,9,0.6%,7,0.6%,0,-,0,-

In [103]:
def clean_data(df):
    # delete percent columns
    ndf = df[df.columns.drop(list(df.filter(regex='Percent')))]
    # rename column headers to just census tract IDs
    new_labels = [re.sub("[^\d\.]","",label) for label in ndf.columns]
    new_labels[0] = "total"
    ndf.columns = new_labels
    # delete unwanted rows
    #ndf = ndf.drop(['SEX AND AGE'])
    #ndf = ndf.drop(ndf.index[1:25])
    # delete last 54 rows
    ndf = ndf[:-54]
    # convert strings to integers
    ndf = ndf.apply(lambda x: x.str.replace(',',''))
    ndf = ndf.apply(lambda x: x.str.replace('-',''))
    ndf = ndf.apply(pd.to_numeric)
    return ndf

In [104]:
new_data = clean_data(data)
new_data

,total,201.05,201.06,201.07,201.08,201.09,201.10,202.01,202.02,202.06,...,281.04,282,283,284.03,285,286.01,286.02,287,9900,9901
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
SEX AND AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total population,21538187.0,5432.0,3839.0,1725.0,2312.0,4025.0,1402.0,4727.0,3178.0,4330.0,...,3446.0,2206.0,3344.0,2703.0,1952.0,3807.0,2725.0,3124.0,0.0,0.0
Under 5 years,1030284.0,92.0,93.0,12.0,13.0,197.0,111.0,165.0,103.0,250.0,...,23.0,62.0,113.0,24.0,36.0,64.0,29.0,278.0,0.0,0.0
5 to 9 years,1151858.0,93.0,71.0,12.0,7.0,240.0,105.0,201.0,124.0,204.0,...,31.0,77.0,142.0,27.0,35.0,38.0,21.0,310.0,0.0,0.0
10 to 14 years,1262516.0,74.0,93.0,22.0,5.0,281.0,85.0,253.0,155.0,186.0,...,23.0,67.0,124.0,25.0,46.0,46.0,27.0,310.0,0.0,0.0
15 to 19 years,1289224.0,1152.0,109.0,24.0,10.0,216.0,103.0,264.0,166.0,193.0,...,32.0,92.0,135.0,33.0,54.0,53.0,289.0,221.0,0.0,0.0
20 to 24 years,1285788.0,719.0,113.0,29.0,42.0,254.0,91.0,216.0,143.0,336.0,...,41.0,128.0,147.0,51.0,67.0,291.0,359.0,187.0,0.0,0.0
25 to 29 years,1291440.0,86.0,89.0,25.0,48.0,309.0,97.0,191.0,143.0,348.0,...,49.0,134.0,201.0,91.0,97.0,570.0,207.0,229.0,0.0,0.0
30 to 34 years,1348166.0,104.0,69.0,18.0,34.0,251.0,90.0,257.0,147.0,273.0,...,50.0,106.0,218.0,72.0,86.0,473.0,193.0,202.0,0.0,0.0
35 to 39 years,1326070.0,111.0,124.0,27.0,41.0,222.0,90.0,274.0,149.0,244.0,...,39.0,98.0,235.0,59.0,82.0,318.0,161.0,188.0,0.0,0.0
40 to 44 years,1263395.0,125.0,120.0,21.0,38.0,187.0,89.0,298.0,206.0,253.0,...,62.0,120.0,177.0,67.0,100.0,170.0,137.0,147.0,0.0,0.0
45 to 49 years,1316747.0,192.0,151.0,37.0,53.0,231.0,90.0,283.0,189.0,304.0,...,80.0,134.0,236.0,88.0,111.0,208.0,136.0,173.0,0.0,0.0
50 to 54 years,1386691.0,262.0,352.0,76.0,103.0,236.0,76.0,316.0,209.0,317.0,...,139.0,153.0,254.0,150.0,142.0,230.0,183.0,186.0,0.0,0.0
55 to 59 years,1534670.0,359.0,475.0,127.0,217.0,291.0,99.0,385.0,261.0,353.0,...,261.0,239.0,339.0,221.0,237.0,232.0,227.0,215.0,0.0,0.0
60 to 64 years,1483312.0,387.0,540.0,204.0,257.0,277.0,100.0,445.0,274.0,348.0,...,355.0,234.0,335.0,306.0,235.0,282.0,239.0,163.0,0.0,0.0
65 to 69 years,1361943.0,379.0,463.0,247.0,302.0,234.0,90.0,412.0,232.0,285.0,...,405.0,210.0,264.0,372.0,264.0,321.0,172.0,125.0,0.0,0.0
70 to 74 years,1226063.0,423.0,473.0,296.0,404.0,225.0,34.0,305.0,215.0,204.0,...,443.0,157.0,199.0,394.0,166.0,240.0,181.0,74.0,0.0,0.0
75 to 79 years,879394.0,337.0,264.0,249.0,342.0,153.0,14.0,220.0,157.0,111.0,...,457.0,99.0,93.0,309.0,86.0,140.0,91.0,47.0,0.0,0.0
80 to 84 years,564438.0,237.0,143.0,161.0,220.0,113.0,20.0,108.0,129.0,62.0,...,344.0,36.0,71.0,208.0,59.0,68.0,44.0,39.0,0.0,0.0
85 years and over,536188.0,300.0,97.0,138.0,176.0,108.0,18.0,134.0,176.0,59.0,...,612.0,60.0,61.0,206.0,49.0,63.0,29.0,30.0,0.0,0.0
Selected Age Categories,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16 years and over,17840297.0,5145.0,3562.0,1676.0,2286.0,3259.0,1084.0,4065.0,2758.0,3650.0,...,3365.0,1979.0,2938.0,2623.0,1826.0,3650.0,2640.0,2176.0,0.0,0.0
18 years and over,17339232.0,4871.0,3506.0,1663.0,2283.0,3162.0,1044.0,3945.0,2676.0,3574.0,...,3352.0,1951.0,2881.0,2606.0,1814.0,3637.0,2617.0,2099.0,0.0,0.0
21 years and over,16531829.0,3652.0,3449.0,1644.0,2264.0,3031.0,979.0,3797.0,2595.0,3452.0,...,3328.0,1885.0,2802.0,2585.0,1771.0,3565.0,2194.0,1975.0,0.0,0.0
62 years and over,5442463.0,1911.0,1763.0,1216.0,1602.0,1003.0,248.0,1462.0,1074.0,931.0,...,2474.0,704.0,900.0,1674.0,765.0,1022.0,653.0,408.0,0.0,0.0
65 years and over,4568026.0,1676.0,1440.0,1091.0,1444.0,833.0,176.0,1179.0,909.0,721.0,...,2261.0,562.0,688.0,1489.0,624.0,832.0,517.0,315.0,0.0,0.0
Male population,10464234.0,2294.0,1924.0,776.0,1082.0,1823.0,624.0,2187.0,1427.0,2024.0,...,1419.0,1072.0,1563.0,1150.0,877.0,1943.0,1332.0,1400.0,0.0,0.0
Under 5 years,525258.0,51.0,52.0,4.0,6.0,100.0,55.0,81.0,55.0,130.0,...,16.0,36.0,65.0,14.0,17.0,34.0,14.0,132.0,0.0,0.0
5 to 9 years,588724.0,45.0,32.0,7.0,5.0,118.0,68.0,101.0,73.0,96.0,...,16.0,34.0,72.0,18.0,10.0,17.0,9.0,142.0,0.0,0.0
10 to 14 years,645046.0,39.0,50.0,10.0,2.0,144.0,40.0,117.0,69.0,95.0,...,8.0,31.0,54.0,8.0,22.0,23.0,7.0,169.0,0.0,0.0
15 to 19 years,654581.0,354.0,53.0,10.0,4.0,105.0,61.0,144.0,82.0,94.0,...,16.0,52.0,66.0,16.0,30.0,23.0,98.0,107.0,0.0,0.0
20 to 24 years,651206.0,276.0,56.0,18.0,19.0,117.0,36.0,106.0,63.0,138.0,...,16.0,66.0,79.0,23.0,34.0,109.0,162.0,88.0,0.0,0.0
25 to 29 years,648960.0,48.0,46.0,14.0,23.0,131.0,49.0,90.0,64.0,155.0,...,19.0,63.0,100.0,40.0,46.0,279.0,102.0,78.0,0.0,0.0
30 to 34 years,667359.0,55.0,27.0,9.0,13.0,115.0,38.0,124.0,76.0,120.0,...,22.0,56.0,96.0,37.0,45.0,241.0,95.0,78.0,0.0,0.0
35 to 39 years,650336.0,55.0,58.0,11.0,24.0,94.0,25.0,136.0,64.0,115.0,...,15.0,43.0,105.0,28.0,35.0,186.0,91.0,80.0,0.0,0.0
40 to 44 years,615795.0,61.0,67.0,12.0,20.0,83.0,29.0,129.0,90.0,127.0,...,31.0,68.0,82.0,32.0,46.0,109.0,80.0,60.0,0.0,0.0
45 to 49 years,642629.0,86.0,61.0,15.0,20.0,108.0,40.0,130.0,82.0,116.0,...,39.0,61.0,103.0,44.0,50.0,107.0,83.0,78.0,0.0,0.0
50 to 54 years,674608.0,120.0,173.0,36.0,52.0,110.0,26.0,154.0,97.0,167.0,...,70.0,81.0,128.0,61.0,56.0,125.0,85.0,70.0,0.0,0.0
55 to 59 years,736911.0,173.0,224.0,43.0,88.0,135.0,36.0,169.0,118.0,162.0,...,108.0,111.0,154.0,100.0,107.0,133.0,117.0,114.0,0.0,0.0
60 to 64 years,698184.0,179.0,269.0,94.0,122.0,109.0,50.0,203.0,121.0,172.0,...,154.0,99.0,163.0,131.0,86.0,152.0,124.0,74.0,0.0,0.0
65 to 69 years,630317.0,177.0,220.0,113.0,127.0,99.0,39.0,194.0,105.0,128.0,...,177.0,99.0,109.0,142.0,128.0,165.0,88.0,60.0,0.0,0.0
70 to 74 years,570437.0,193.0,262.0,131.0,198.0,103.0,16.0,130.0,91.0,104.0,...,186.0,85.0,99.0,169.0,79.0,104.0,98.0,38.0,0.0,0.0
75 to 79 years,404094.0,169.0,143.0,118.0,172.0,74.0,1.0,95.0,65.0,52.0,...,180.0,57.0,43.0,133.0,32.0,65.0,46.0,16.0,0.0,0.0
80 to 84 years,251412.0,109.0,79.0,67.0,107.0,52.0,9.0,38.0,47.0,28.0,...,134.0,15.0,31.0,74.0,30.0,35.0,21.0,9.0,0.0,0.0
85 years and over,208377.0,104.0,52.0,64.0,80.0,26.0,6.0,46.0,65.0,25.0,...,212.0,15.0,14.0,80.0,24.0,36.0,12.0,7.0,0.0,0.0
Selected Age Categories,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16 years and over,8575269.0,2148.0,1782.0,755.0,1069.0,1437.0,451.0,1860.0,1215.0,1679.0,...,1377.0,961.0,1357.0,1109.0,823.0,1866.0,1300.0,938.0,0.0,0.0
18 years and over,8318714.0,2045.0,1748.0,747.0,1069.0,1399.0,430.0,1799.0,1171.0,1642.0,...,1368.0,945.0,1333.0,1099.0,816.0,1857.0,1290.0,897.0,0.0,0.0
21 years and over,7913477.0,1677.0,1727.0,739.0,1062.0,1330.0,390.0,1731.0,1125.0,1596.0,...,1358.0,903.0,1294.0,1090.0,792.0,1831.0,1147.0,835.0,0.0,0.0
62 years and over,2474035.0,866.0,910.0,551.0,762.0,419.0,110.0,633.0,452.0,444.0,...,979.0,331.0,394.0,679.0,346.0,503.0,336.0,175.0,0.0,0.0
65 years and over,2064637.0,752.0,756.0,493.0,684.0,354.0,71.0,503.0,373.0,337.0,...,889.0,271.0,296.0,598.0,293.0,405.0,265.0,130.0,0.0,0.0
Female population,11073953.0,3138.0,1915.0,949.0,1230.0,2202.0,778.0,2540.0,1751.0,2306.0,...,2027.0,1134.0,1781.0,1553.0,1075.0,1864.0,1393.0,1724.0,0.0,0.0
Under 5 years,505026.0,41.0,41.0,8.0,7.0,97.0,56.0,84.0,48.0,120.0,...,7.0,26.0,48.0,10.0,19.0,30.0,15.0,146.0,0.0,0.0
5 to 9 years,563134.0,48.0,39.0,5.0,2.0,122.0,37.0,100.0,51.0,108.0,...,15.0,43.0,70.0,9.0,25.0,21.0,12.0,168.0,0.0,0.0
10 to 14 years,617470.0,35.0,43.0,12.0,3.0,137.0,45.0,136.0,86.0,91.0,...,15.0,36.0,70.0,17.0,24.0,23.0,20.0,141.0,0.0,0.0
15 to 19 years,634643.0,798.0,56.0,14.0,6.0,111.0,42.0,120.0,84.0,99.0,...,16.0,40.0,69.0,17.0,24.0,30.0,191.0,114.0,0.0,0.0
20 to 24 years,634582.0,443.0,57.0,11.0,23.0,137.0,55.0,110.0,80.0,198.0,...,25.0,62.0,68.0,28.0,33.0,182.0,197.0,99.0,0.0,0.0
25 to 29 years,642480.0,38.0,43.0,11.0,25.0,178.0,48.0,101.0,79.0,193.0,...,30.0,71.0,101.0,51.0,51.0,291.0,105.0,151.0,0.0,0.0
30 to 34 years,680807.0,49.0,42.0,9.0,21.0,136.0,52.0,133.0,71.0,153.0,...,28.0,50.0,122.0,35.0,41.0,232.0,98.0,124.0,0.0,0.0
35 to 39 years,675734.0,56.0,66.0,16.0,17.0,128.0,65.0,138.0,85.0,129.0,...,24.0,55.0,130.0,31.0,47.0,132.0,70.0,108.0,0.0,0.0
40 to 44 years,647600.0,64.0,53.0,9.0,18.0,104.0,60.0,169.0,116.0,126.0,...,31.0,52.0,95.0,35.0,54.0,61.0,57.0,87.0,0.0,0.0
45 to 49 years,674118.0,106.0,90.0,22.0,33.0,123.0,50.0,153.0,107.0,188.0,...,41.0,73.0,133.0,44.0,61.0,101.0,53.0,95.0,0.0,0.0
50 to 54 years,712083.0,142.0,179.0,40.0,51.0,126.0,50.0,162.0,112.0,150.0,...,69.0,72.0,126.0,89.0,86.0,105.0,98.0,116.0,0.0,0.0
55 to 59 years,797759.0,186.0,251.0,84.0,129.0,156.0,63.0,216.0,143.0,191.0,...,153.0,128.0,185.0,121.0,130.0,99.0,110.0,101.0,0.0,0.0
60 to 64 years,785128.0,208.0,271.0,110.0,135.0,168.0,50.0,242.0,153.0,176.0,...,201.0,135.0,172.0,175.0,149.0,130.0,115.0,89.0,0.0,0.0
65 to 69 years,731626.0,202.0,243.0,134.0,175.0,135.0,51.0,218.0,127.0,157.0,...,228.0,111.0,155.0,230.0,136.0,156.0,84.0,65.0,0.0,0.0
70 to 74 years,655626.0,230.0,211.0,165.0,206.0,122.0,18.0,175.0,124.0,100.0,...,257.0,72.0,100.0,225.0,87.0,136.0,83.0,36.0,0.0,0.0
75 to 79 years,475300.0,168.0,121.0,131.0,170.0,79.0,13.0,125.0,92.0,59.0,...,277.0,42.0,50.0,176.0,54.0,75.0,45.0,31.0,0.0,0.0
80 to 84 years,313026.0,128.0,64.0,94.0,113.0,61.0,11.0,70.0,82.0,34.0,...,210.0,21.0,40.0,134.0,29.0,33.0,23.0,30.0,0.0,0.0
85 years and over,327811.0,196.0,45.0,74.0,96.0,82.0,12.0,88.0,111.0,34.0,...,400.0,45.0,47.0,126.0,25.0,27.0,17.0,23.0,0.0,0.0
Selected Age Categories,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16 years and over,9265028.0,2997.0,1780.0,921.0,1217.0,1822.0,633.0,2205.0,1543.0,1971.0,...,1988.0,1018.0,1581.0,1514.0,1003.0,1784.0,1340.0,1238.0,0.0,0.0
18 years and over,9020518.0,2826.0,1758.0,916.0,1214.0,1763.0,614.0,2146.0,1505.0,1932.0,...,1984.0,1006.0,1548.0,1507.0,998.0,1780.0,1327.0,1202.0,0.0,0.0
21 years and over,8618352.0,1975.0,1722.0,905.0,1202.0,1701.0,589.0,2066.0,1470.0,1856.0,...,1970.0,982.0,1508.0,1495.0,979.0,1734.0,1047.0,1140.0,0.0,0.0
62 years and over,2968428.0,1045.0,853.0,665.0,840.0,584.0,138.0,829.0,622.0,487.0,...,1495.0,373.0,506.0,995.0,419.0,519.0,317.0,233.0,0.0,0.0
65 years and over,2503389.0,924.0,684.0,598.0,760.0,479.0,105.0,676.0,536.0,384.0,...,1372.0,291.0,392.0,891.0,331.0,427.0,252.0,185.0,0.0,0.0
MEDIAN AGE BY SEX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Both sexes,43.0,49.0,60.6,69.7,69.8,41.5,36.1,49.5,51.2,42.8,...,71.5,53.1,49.1,67.0,57.4,41.3,43.1,30.4,NaN,NaN
Male,41.5,54.1,61.0,69.6,70.3,38.7,30.3,48.1,49.8,42.6,...,70.1,51.5,48.5,65.8,56.9,42.9,45.3,28.4,NaN,NaN
Female,44.5,44.7,60.0,69.7,69.1,43.0,39.3,50.8,52.8,43.2,...,72.5,54.2,49.5,67.5,57.7,39.6,39.5,31.3,NaN,NaN
RACE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total population,21538187.0,5432.0,3839.0,1725.0,2312.0,4025.0,1402.0,4727.0,3178.0,4330.0,...,3446.0,2206.0,3344.0,2703.0,1952.0,3807.0,2725.0,3124.0,0.0,0.0
One Race,17986115.0,5150.0,3596.0,1660.0,2208.0,3759.0,1301.0,4441.0,2972.0,4077.0,...,3334.0,2068.0,3038.0,2573.0,1821.0,3440.0,2565.0,3030.0,0.0,0.0
White,12422961.0,4474.0,3455.0,1562.0,2141.0,1230.0,355.0,1634.0,1584.0,1672.0,...,3200.0,1882.0,2412.0,2462.0,1675.0,2788.0,2103.0,262.0,0.0,0.0
Black or African American,3246381.0,440.0,49.0,17.0,18.0,2381.0,905.0,2621.0,1280.0,2237.0,...,50.0,107.0,462.0,46.0,95.0,452.0,217.0,2699.0,0.0,0.0
American Indian and Alaska Native,94795.0,9.0,6.0,9.0,3.0,2.0,3.0,11.0,2.0,15.0,...,4.0,6.0,11.0,10.0,10.0,7.0,7.0,11.0,0.0,0.0
Asian,643682.0,120.0,58.0,53.0,28.0,27.0,9.0,83.0,51.0,61.0,...,39.0,36.0,39.0,18.0,11.0,109.0,87.0,10.0,0.0,0.0
Native Hawaiian and Other Pacific Islander,14014.0,6.0,1.0,0.0,0.0,0.0,1.0,4.0,3.0,7.0,...,3.0,1.0,14.0,0.0,2.0,2.0,0.0,2.0,0.0,0.0
Some Other Race,1564282.0,101.0,27.0,19.0,18.0,119.0,28.0,88.0,52.0,85.0,...,38.0,36.0,100.0,37.0,28.0,82.0,151.0,46.0,0.0,0.0
Two or More Races,3552072.0,282.0,243.0,65.0,104.0,266.0,101.0,286.0,206.0,253.0,...,112.0,138.0,306.0,130.0,131.0,367.0,160.0,94.0,0.0,0.0
TOTAL RACES TALLIED [1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total races tallied,25233388.0,5726.0,4095.0,1794.0,2421.0,4310.0,1518.0,5026.0,3397.0,4594.0,...,3559.0,2355.0,3672.0,2852.0,2099.0,4192.0,2889.0,3238.0,0.0,0.0
White alone or in combination with one or more other races,15758296.0,4740.0,3692.0,1624.0,2241.0,1444.0,429.0,1859.0,1766.0,1875.0,...,3310.0,2013.0,2692.0,2582.0,1800.0,3128.0,2252.0,312.0,0.0,0.0
Black or African American alone or in combination with one or more other races,3703952.0,480.0,62.0,30.0,27.0,2526.0,966.0,2746.0,1345.0,2344.0,...,61.0,134.0,568.0,69.0,118.0,513.0,230.0,2776.0,0.0,0.0
American Indian and Alaska Native alone or in combination with one or more other races,384485.0,68.0,55.0,22.0,18.0,44.0,36.0,70.0,27.0,48.0,...,17.0,35.0,92.0,57.0,56.0,52.0,26.0,43.0,0.0,0.0
Asian alone or in combination with one or more other races,843005.0,188.0,103.0,61.0,36.0,44.0,21.0,136.0,98.0,88.0,...,47.0,54.0,63.0,33.0,32.0,151.0,108.0,29.0,0.0,0.0
Native Hawaiian and Other Pacific Islander alone or in combination with one or more other races,44454.0,12.0,1.0,2.0,2.0,5.0,9.0,5.0,6.0,19.0,...,5.0,4.0,19.0,3.0,4.0,6.0,5.0,10.0,0.0,0.0
Some Other Race alone or in combination with one or more other races,4499196.0,238.0,182.0,55.0,97.0,247.0,57.0,210.0,155.0,220.0,...,119.0,115.0,238.0,108.0,89.0,342.0,268.0,68.0,0.0,0.0
HISPANIC OR LATINO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total population,21538187.0,5432.0,3839.0,1725.0,2312.0,4025.0,1402.0,4727.0,3178.0,4330.0,...,3446.0,2206.0,3344.0,2703.0,1952.0,3807.0,2725.0,3124.0,0.0,0.0
Hispanic or Latino (of any race),5697240.0,347.0,178.0,60.0,108.0,354.0,78.0,251.0,164.0,260.0,...,141.0,138.0,263.0,126.0,96.0,399.0,290.0,113.0,0.0,0.0
Not Hispanic or Latino,15840947.0,5085.0,3661.0,1665.0,2204.0,3671.0,1324.0,4476.0,3014.0,4070.0,...,3305.0,2068.0,3081.0,2577.0,1856.0,3408.0,2435.0,3011.0,0.0,0.0
HISPANIC OR LATINO BY RACE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total population,21538187.0,5432.0,3839.0,1725.0,2312.0,4025.0,1402.0,4727.0,3178.0,4330.0,...,3446.0,2206.0,3344.0,2703.0,1952.0,3807.0,2725.0,3124.0,0.0,0.0
Hispanic or Latino,5697240.0,347.0,178.0,60.0,108.0,354.0,78.0,251.0,164.0,260.0,...,141.0,138.0,263.0,126.0,96.0,399.0,290.0,113.0,0.0,0.0
White alone,1322458.0,132.0,46.0,16.0,17.0,91.0,16.0,58.0,38.0,71.0,...,38.0,47.0,60.0,39.0,32.0,103.0,58.0,16.0,0.0,0.0
Black or African American alone,119329.0,17.0,5.0,0.0,0.0,44.0,14.0,45.0,12.0,21.0,...,3.0,2.0,6.0,3.0,3.0,21.0,4.0,43.0,0.0,0.0
American Indian and Alaska Native alone,52626.0,3.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,0.0,...,1.0,0.0,1.0,1.0,3.0,2.0,0.0,1.0,0.0,0.0
Asian alone,14056.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,...,1.0,0.0,3.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
Native Hawaiian and Other Pacific Islander alone,2493.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Some Other Race alone,1426349.0,72.0,16.0,10.0,16.0,98.0,21.0,42.0,30.0,52.0,...,27.0,23.0,81.0,26.0,18.0,63.0,135.0,30.0,0.0,0.0
Two or More Races,2759929.0,122.0,111.0,33.0,75.0,121.0,25.0,103.0,84.0,107.0,...,71.0,66.0,112.0,57.0,40.0,206.0,93.0,23.0,0.0,0.0
Not Hispanic or Latino,15840947.0,5085.0,3661.0,1665.0,2204.0,3671.0,1324.0,4476.0,3014.0,4070.0,...,3305.0,2068.0,3081.0,2577.0,1856.0,3408.0,2435.0,3011.0,0.0,0.0
White alone,11100503.0,4342.0,3409.0,1546.0,2124.0,1139.0,339.0,1576.0,1546.0,1601.0,...,3162.0,1835.0,2352.0,2423.0,1643.0,2685.0,2045.0,246.0,0.0,0.0
Black or African American alone,3127052.0,423.0,44.0,17.0,18.0,2337.0,891.0,2576.0,1268.0,2216.0,...,47.0,105.0,456.0,43.0,92.0,431.0,213.0,2656.0,0.0,0.0
American Indian and Alaska Native alone,42169.0,6.0,6.0,8.0,3.0,2.0,2.0,9.0,2.0,15.0,...,3.0,6.0,10.0,9.0,7.0,5.0,7.0,10.0,0.0,0.0
Asian alone,629626.0,119.0,58.0,53.0,28.0,27.0,8.0,83.0,51.0,56.0,...,38.0,36.0,36.0,18.0,11.0,105.0,87.0,10.0,0.0,0.0
Native Hawaiian and Other Pacific Islander alone,11521.0,6.0,1.0,0.0,0.0,0.0,1.0,3.0,3.0,3.0,...,3.0,1.0,14.0,0.0,2.0,2.0,0.0,2.0,0.0,0.0
Some Other Race alone,137933.0,29.0,11.0,9.0,2.0,21.0,7.0,46.0,22.0,33.0,...,11.0,13.0,19.0,11.0,10.0,19.0,16.0,16.0,0.0,0.0
Two or More Races,792143.0,160.0,132.0,32.0,29.0,145.0,76.0,183.0,122.0,146.0,...,41.0,72.0,194.0,73.0,91.0,161.0,67.0,71.0,0.0,0.0

In [106]:
new_data.to_csv(file_path+'cleaned-pinellas-demographics-by-census-tract.csv')